<template>
    <div class="card">
        <div class="card-header" v-bind:class="background">{{title}}</div>

        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'background'],
        mounted(){
            this.background = 'bg-'+ (this.background || 'primary');
        }
    }
</script>

<style lang="scss" scoped>
    .card{
        margin-bottom: 10px;
        .card-header{
            color:white;
        }
    }
</style>